# created by virtualenv automatically
.venv/etc

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore IDE-specific files
.idea/

# Ignore Testing Space
3_Testing_Space.py

# Ignore .venv
.venv/
